/******VARIABLES*****/
@keyframes loader {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
/*****HEADER*****/
header {
  animation: fadein 1.5s both 300ms;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}
.header img {
  width: 25%;
  height: 25px;
}

.headerBack {
  display: flex;
  justify-content: center;
  height: 4em;
  align-items: center;
}
.headerBack .arrow {
  position: absolute;
  left: 1.5em;
}

@media (min-width: 767.98px) {
  .header {
    height: 5em;
  }
  .header img {
    height: 35px;
    max-width: 15%;
  }
}
/*****LOADER*****/
.loaderWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  background-color: white;
  animation: fadeout 2s forwards;
}
.loaderWrap .loader {
  position: fixed;
  top: 35%;
  transform: translateY(-50%);
  animation: loader 1s infinite ease-out;
}
.loaderWrap img {
  height: 250px;
}

/*****LOCATION*****/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  background-color: #EAEAEA;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}
.location .Txt {
  color: #353535;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}

/*****INTRO*****/
.intro {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  background-color: whitesmoke;
  text-align: center;
  animation: fadein 1.5s both 500ms;
}
.intro .introTitle {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 10px;
}
.intro .introTxt {
  margin-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 300;
}
.intro .mainButtonPurple {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  font-size: 20px;
  margin: 1em auto 2.5em;
  padding: 0.2em;
  width: 60%;
  height: 50px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  animation: fadein 1.5s both 600ms;
  cursor: pointer;
}
.intro .mainButtonPurple:hover {
  filter: brightness(1.1);
  transition: 0.3s;
  transform: scale(1.1);
}

/*****FONCTIONALITE*****/
.function {
  display: flex;
  flex-direction: column;
  padding: 2.5em 1em 3em;
  animation: appear 1.5s both 800ms;
}
.function .steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}
.function .functionCard {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  gap: 2em;
  border-radius: 20px;
  width: 100%;
  height: 70px;
  box-shadow: rgba(50, 50, 93, 0) 0px 5px 10px 0px, rgba(0, 0, 0, 0.2) -1px 5px 15px;
  animation: appear 1.5s both 900ms;
}
.function .cardNumber {
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.8em;
}
.function .cardIcon {
  margin-left: 2em;
}
.function .iconGrey {
  color: #7e7e7e;
}
.function .iconPurple {
  color: #9356DC;
}
.function .cardTxt {
  font-weight: 500;
}

/*****RESTAURANTS*****/
.restos {
  padding: 2.5em 1em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restos .restosTitle {
  margin-bottom: 0;
  animation: appear 2s both 1000ms;
}
.restos .restosList {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
  animation: appear 2s both 1200ms;
  margin-bottom: 15px;
}
.restos .restosList2 {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
  animation: appear 2s both 1300ms;
  margin-bottom: 15px;
}
.restos .restosList3 {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
  animation: appear 2s both 1400ms;
  margin-bottom: 15px;
}
.restos .restosList4 {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
  animation: appear 2s both 1500ms;
  margin-bottom: 25px;
}
.restos .restosdetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}
.restos .restosCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restos .tag {
  background-color: #a9e0d1;
  color: #0c1813;
  position: absolute;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-weight: 500;
  top: 1em;
  right: 0.8em;
  animation: tag 800ms 0ms linear alternate infinite both;
}
.restos .restosInfos {
  padding: 1em;
}
.restos .restosTxt {
  margin: 0;
}
.restos i {
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 25px;
}
.restos .filledHeart {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease;
}
.restos .filledHeart:hover {
  opacity: 1;
}

/*****MEDIA-QUERIES-TABLET*****/
@media (min-width: 767.98px) {
  .intro {
    border-radius: 0 0 25px 25px;
  }
  .mainButtonPurple {
    max-width: 30%;
  }
  .function h1 {
    margin: auto;
    margin-bottom: 25px;
  }
  .function .steps {
    flex-direction: row;
    gap: 25px;
    padding-left: 5px;
  }
  .restos {
    border-radius: 25px 25px 0 0;
  }
  .restosTitle {
    margin: auto;
    margin-bottom: 25px;
  }
  .cardTablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  .restosList {
    width: 48%;
  }
  .restosList2 {
    width: 48%;
  }
  .restosList3 {
    width: 48%;
    height: 350px;
  }
  .restosList4 {
    width: 48%;
  }
  .restos .restosCard img {
    height: 270px;
  }
}
/*****MEDIA-QUERIES-DESKTOP*****/
@media (min-width: 1024px) {
  .intro {
    border-radius: 0;
  }
  nav {
    border-bottom: 1px solid #FF79DA;
  }
  .function-and-restos {
    display: flex;
  }
  .function {
    background-color: whitesmoke;
    width: 25%;
    justify-content: center;
    border-right: 1px solid #FF79DA;
  }
  .function h1 {
    margin-top: 0;
  }
  .function .steps {
    flex-direction: column;
  }
  .restos {
    width: 75%;
    border-radius: 0;
  }
}
/*****PRESENTATION*****/
.backImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  animation: fadein 1.5s both 400ms;
}

/*****MENUS*****/
.restosName {
  width: auto;
  background-color: whitesmoke;
  padding: 1em;
  position: relative;
  border-radius: 3em 3em 0 0;
  margin-top: -4em;
}
.restosName .restosHead {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  max-width: 500px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1.5em;
  animation: appear 1.5s both 500ms;
}
.restosName .heartIcon i {
  position: absolute;
  right: 1.5em;
  top: 0.2em;
}
.restosName .filledHeart {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease;
}
.restosName .filledHeart:hover {
  opacity: 1;
}
.restosName .allMenu {
  display: grid;
  gap: 3em;
  max-width: 500px;
  margin: auto;
}
.restosName .menuBlock {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 0.8em;
}
.restosName .menuTitle {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #99E2D0;
  max-width: 40px;
  animation: appear 1.5s both 800ms;
}
.restosName .menuChoices {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slide 1s 1500ms linear both;
}
.restosName .menuChoices:hover .menuSelect {
  opacity: 1;
  width: 55px;
}
.restosName .dishesCard {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}
.restosName .dishesInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.7em;
  flex: 1;
}
.restosName .dishesName {
  margin: 2px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restosName .dishesSpec {
  margin: 2px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restosName .dishesPrice {
  font-weight: 700;
  display: flex;
  align-self: flex-end;
  padding: 0.7em;
  padding-bottom: 0;
}
.restosName .menuSelect {
  background-color: #99E2D0;
  width: 0;
  opacity: 0;
  height: auto;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-out width 600ms;
}
.restosName .iconCheck {
  background-color: #99E2D0;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  transform: rotateZ(360deg);
}
.restosName .mainButtonPurple {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  margin: 3em auto;
  width: 60%;
  height: 50px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  animation: fadein 1.5s both 1500ms;
  cursor: pointer;
}
.restosName .mainButtonPurple:hover {
  filter: brightness(1.1);
  transition: 0.3s;
  transform: scale(1.1);
}

@media (min-width: 767.98px) {
  .backImg {
    position: fixed;
    height: 100%;
  }
  .restosName {
    width: 60%;
    margin: auto;
  }
  .restosName .restosHead {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
    justify-content: space-around;
  }
  .restosHead .heartIcon {
    position: relative;
    top: 0;
    right: -2.2em;
  }
}
@media (min-width: 1024px) {
  .restosName .restosHead {
    width: 50%;
  }
}
/*****FOOTER*****/
footer {
  padding: 1em 1.5em;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  animation: fadein 1.5s both 2s;
}
footer .footerTitle {
  font-family: "Shrikhand", serif;
  font-weight: 300;
}
footer .footerLink {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}
footer .iconWhite {
  color: white;
  margin-right: 5px;
}

/*****MEDIA-QUERIES-TABLET*****/
@media (min-width: 767.98px) {
  .footerTitle {
    display: flex;
    justify-content: center;
  }
  footer .footerLink {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/*****GENERAL*****/
body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
