/*****FOOTER*****/

footer {
    padding: 1em 1.5em;
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    animation: fadein 1.5s both 1s;
    .footerTitle { 
        font-family: "Shrikhand", serif;
        font-weight: 300;
    }
    .footerLink {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 10px;
    }
    .iconWhite {
        color: $iconWhite;
        margin-right: 5px;
    }
}

/*****MEDIA-QUERIES-TABLET*****/

@media (min-width: 767.98px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 1em 1.5em 0;
    }
    .footerDesktop {
        display: flex;
        order: 2;
        padding: 1em 0 1em 5em;
    }
    .footerTitle {
        display: flex;
        justify-items: center;
    }
    footer .footerLink {
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 0;
        a {
            margin-left: 20px;
        }
    }
}