.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.headerBack {
    display: flex;
    justify-content: center;
    height: 4em;
    align-items: center;
    .arrow {
        position: absolute;
        margin-right: 22em;
    }
}