/*****PRESENTATION*****/

.backImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    animation: fadein 1.5s both 400ms;    
}

/*****MENUS*****/

.restosName {
    width: auto;
    background-color: whitesmoke;
    padding: 1em;
    position: relative;
    border-radius: 3em 3em 0 0;
    margin-top: -4em;
    .restosHead {
        display: flex;
        justify-content: space-between;
        font-family: "Shrikhand", serif;
        font-size: 28px;
        max-width: 500px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1.5em;
        animation: appear 1.5s both 500ms;
        
        
    }
    .heartIcon i {
        position: absolute;
        right: 1.5em;
        top: 0.2em;
    }
    .filledHeart {
        color: transparent;
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 400ms ease;
    }
    .filledHeart:hover {
        opacity: 1;
    }
    .allMenu {
        display: grid;
        gap: 3em;
        max-width: 500px;
        margin: auto;
    }
    .menuBlock {
        display: flex;
        flex-direction: column;
        min-width: 0;
        gap: 0.8em;
    }
    .menuTitle {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 0.5em;
        border-bottom: 3px solid #99E2D0;
        max-width: 40px;
        animation: appear 1.5s both 800ms;
    }
    .menuChoices {
        background-color: white;
        border-radius: 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        animation: slide 1s 1500ms linear both;
    }
    .menuChoices:hover .menuSelect {
        opacity: 1;
        width: 55px;
    }
    .dishesCard {
        display: flex;
    }
    .dishesInfo {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.7em;
    }
    .dishesName {
        margin: 2px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .dishesSpec {
        margin: 2px;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .dishesPrice {
        font-weight: 700;
        display: flex;
        align-self: flex-end;
        padding: 0.7em;
        padding-bottom: 0;
    }
    .menuSelect {
        background-color: $ThirdColor;
        width: 0;
        opacity: 0;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-out width 600ms;
    }
    .iconCheck {
        background-color: $ThirdColor;
        border-radius: 50px;
        color: $iconWhite;
        font-size: 20px;
        transform: rotateZ(360deg);
    }
    .mainButtonPurple {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
        color: white;
        margin: 3em auto;
        width: 60%;
        height: 50px;
        box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
        animation: fadein 1.5s both 1500ms;
        cursor: pointer;
    }
    .mainButtonPurple:hover {
        filter: brightness(1.1);
        transition: 0.3s;
        transform: scale(1.10);
    }
}

@media (min-width: 767.98px) {
    .backImg {
        position: fixed;
        height: 100%;
    }
    .restosName {
        width: 60%;
        margin: auto;
    }
    .restosName .restosHead {
        width: 60%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1.5em;
        justify-content: space-around;
    }
    .restosHead .heartIcon {
        position: relative;
        top: 0;
        right: -2.2em;
    }
}

@media (min-width: 1024px) {
    .restosName .restosHead {
        width: 50%;
    }
}