/*****LOADER*****/

.loaderWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    background-color: white;
    animation: fadeout 2s forwards;
    .loader {
        position: fixed;        
        top: 35%;
        transform: translateY(-50%);
        animation: loader 1s infinite ease-out;
    }
    img {
        height: 250px;
    }
}


/*****LOCATION*****/

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    background-color: $GreyColor;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    .Txt {
        color: #353535;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin-left: 10px;
    }
}

/*****INTRO*****/

.intro {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
    background-color: whitesmoke;
    text-align: center;
    animation: fadein 1.5s both 500ms;
    .introTitle {
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 10px;
    }
    .introTxt {
        margin-top: 0;
        padding-left: 40px;
        padding-right: 40px;
        font-weight: 300;
    }
    .mainButtonPurple {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
        color: white;
        margin: 1em auto 2.5em;
        width: 60%;
        height: 50px;
        box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
        animation: fadein 1.5s both 600ms;
    }
    .mainButtonPurple:hover {
        filter: brightness(1.1);
        transition: 0.3s;
    }
}

/*****FONCTIONALITE*****/

.function {
    display: flex;
    flex-direction: column;
    padding: 2.5em 1em 3em;
    animation: appear 1.5s both 800ms;
    .steps {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
    }
    .functionCard{
        display: flex;
        align-items: center;
        background-color: #F6F6F6;
        gap: 2em;
        border-radius: 20px;
        width: 100%;
        height: 70px;
        box-shadow: rgba(50, 50, 93, 0) 0px 5px 10px 0px, rgba(0, 0, 0, 0.2) -1px 5px 15px; 
        animation: appear 1.5s both 900ms;
    }
    .cardNumber {
        color: white;
        background-color: #9356dc;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -0.8em;
    }
    .cardIcon {
        margin-left: 2em;
    }
    .iconGrey {
        color: $iconGrey;
    }
    .iconPurple {
        color: $MainColor;
    }
    .cardTxt {
        font-weight: 500;
    }
}

/*****RESTAURANTS*****/

.restos {
    padding: 2.5em 1em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .restosTitle {
        margin-bottom: 0;
        animation: appear 2s both 1000ms;
    }
    .restosList {
        position: relative;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
        animation: appear 2s both 1200ms;
    }
    .restosList2 {
        position: relative;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
        animation: appear 2s both 1300ms;
    }
    .restosList3 {
        position: relative;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
        animation: appear 2s both 1400ms;
    }
    .restosList4 {
        position: relative;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
        animation: appear 2s both 1500ms;
    }
    .restosdetail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1em;
    }
    .restosCard img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .tag {
        background-color: #a9e0d1;
        color: #3b8468;
        position: absolute;
        padding: 0.5em 1em;
        border-radius: 0.2em;
        font-weight: 500;
        top: 1em;
        right: 0.8em;
        animation: tag 500ms 0ms linear alternate infinite both;
    }
    .restosInfos {
        padding: 1em;   
    }
    .restosTxt {
        margin: 0;  
    }
    i {
        position: absolute;
        right: 1em;
        bottom: 1em;
        font-size: 25px;  
      }
    .filledHeart {
        color: transparent;
        background-image: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 300ms ease;
    }
    .filledHeart:hover {
        opacity: 1;
    }
}